 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #838280, #f2e5d2);
    font-family: 'Poppins', sans-serif;
}

form {
    background: #a1b3ab;
    box-shadow: 0 8px 16px rgba(9, 9, 9);
    border-radius: 12px;
    padding: 30px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

form:hover {
    transform: scale(1.05);
}

input, button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

button {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    transform: scale(.9);
}
